name: Run Python linters

on: [push, pull_request]

jobs:
  python-files:
    runs-on: ubuntu-latest
    outputs:
      filelist: ${{ steps.python-files.outputs.filelist }}
    steps:
    - uses: actions/checkout@v2
    - id: python-files
      run:
        echo "filelist=$(find . -type f -exec awk ' /^#!.*python/{print FILENAME} {nextfile}' {} + | tr '\n' ' ')" >> $GITHUB_OUTPUT

  pylint:
    runs-on: ubuntu-latest
    needs: [python-files]
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - uses: actions/cache@v2
      with:
        path: ~/pip-cache
        key: pip-3.6-${{ github.sha }}
        # allow cache hits from previous runs of the current branch,
        # parent branch, then upstream branches, in that order
        restore-keys: |
          pip-3.6-

    - name: Install Requirements
      run: |
        python -m pip install --upgrade pip
        pip --cache-dir ~/pip-cache install pylint
        pip --cache-dir ~/pip-cache install -r requirements.txt

    - name: Run Pylint
      env:
        PYTHON_FILES: ${{ needs.python-files.outputs.filelist }}
      run: |
        pylint --errors-only $PYTHON_FILES

  flake8:
    runs-on: ubuntu-latest
    needs: [python-files]
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - uses: actions/cache@v2
      with:
        path: ~/pip-cache
        key: pip-3.6-${{ github.sha }}
        # allow cache hits from previous runs of the current branch,
        # parent branch, then upstream branches, in that order
        restore-keys: |
          pip-3.6-

    - name: Install Requirements
      run: |
        python -m pip install --upgrade pip
        pip --cache-dir ~/pip-cache install flake8
        pip --cache-dir ~/pip-cache install -r requirements.txt

    - name: Run flake8
      env:
        PYTHON_FILES: ${{ needs.python-files.outputs.filelist }}
      run: |
        flake8 --select F $PYTHON_FILES
